# Generic project files
/vendor/
.idea/*
.env
.php_cs.cache

# Cache Directory
/private/cache/*
!/private/cache/.gitkeep
!/private/cache/templates/
/private/cache/templates/*
!/private/cache/templates/.gitkeep
