parameters:
    bootstrapFiles:
        - .phpstan-bootstrap.php
    level: 5
    paths:
        - private/lib
        - private/scripts
    excludePaths:
        - private/cache
        - private/templates
        - tests
        - vendor