parameters:
    bootstrapFiles:
        - .phpstan-bootstrap.php
    level: 5
    paths:
        - private/lib
        - private/scripts
    excludes_analyse:
        - private/cache
        - private/templates
        - tests
        - vendor
    ignoreErrors:
        - '#Parameter \#1 \$to of function mail expects string, null given\.#'