<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd"
         bootstrap="config/bootstrap.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Test Suite">
            <directory suffix="Test.php">./tests/framework</directory>
            <directory suffix="Test.php">./tests/src</directory>
            <directory suffix="Test.php">./tests/architecture</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">./framework</directory>
            <directory suffix=".php">./src</directory>
        </include>
        <exclude>
            <directory suffix=".php">./src/Domain/Migration</directory>
        </exclude>
    </source>
</phpunit>
