Options -MultiViews

<IfModule mod_php7.c>
    # Session timeout
    php_value session.cookie_lifetime 86400
    php_value session.gc_maxlifetime 200000
</IfModule>

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]