{
  "ENVIRONMENT": "production",
  "BASE_URL": "/",
  "DATABASE": {
    "HOST": "localhost",
    "SCHEMA": "testdb",
    "USERNAME": "testuser",
    "PASSWORD": "testpswd"
  },
  "PASSWORD_HASH": ""
}